<li>
  <span class="content">
  	<h4 class="formMessage">Da: </h4>
  	<h3 class="formMessage3"><%= link_to message.sender.name, new_message_path(:user => message.sender.id) %></h3>
  </br>
  	<h4 class="formMessage">Oggetto:  </h4>
  	<h3 class="formMessage3"><%= link_to message.subject, message_path(message.id) %></h3>
  	
  	<%= link_to "Elimina", message, :method => :delete, class: "btn btn-small btn-danger" %>
  	</span>
  

</li>

