<%= provide(:title, 'Nuovo messaggio') %>
<h1>Nuovo messaggio</h1>
	<div id="form-messaggio">
		<%= form_for(@message) do |f| %>
			<% if signed_in? %>
				<%= f.hidden_field :sender, :value => current_user.name %>
			<%else%>
				<%= f.hidden_field :sender, :value => "utente usterno"%>
			<%end%>
		
			<h3>Messaggio per  <%= @user.name %></h3> 
			<%= f.hidden_field :recipient, :value => @user.name %>
			<%= f.hidden_field :invite, :value => false %>
			</br>
			
			<h3>Oggetto</h3>
			<%= f.text_field :subject, :value => params[:subject]%>
			
			<h3>Messaggio</h3>
			<%= f.text_field :body %><br>
			<%= f.submit "Invia", class: "btn btn-large btn-primary" %>
		
		<% end %>
	
	</div>

