<div id="rispondi">

	<h4 class="formMessage">Da:  </h4>
	<h3 class="formMessage3"><%= @message.sender.name %></h3>
</br>
	<h4 class="formMessage">Oggetto:  </h4>
	<h3 class="formMessage3"><%= @message.subject %></h3>
</br>
	<% if @message.subject=="Invito" 
		then @message.body = link_to 'Unisciti', new_groupship_path(:group_id => @message.body)%>
	<%end%>
	<h4 class="formMessage">Messaggio:  </h4>
	<h3 class="formMessage3"><%= @message.body %></h3>
	</br>
</br>
	<%= link_to 'Rispondi', new_message_path(:user => @message.sender.id, :subject =>"Re: "+ @message.subject), class: "btn btn-large btn-success" %>
	<%= link_to "Elimina", @message, :method => :delete, class: "btn btn-large btn-danger" %>

</div>
<br/>

