<% provide(:title, "Entra")%>
<div id="content-login">
  <div id="login">
    <%= form_for(:session, url: sessions_path) do |f|  %>
	  <%= render 'shared/error_messages', object: f.object %>
		
      <%= f.label :email %>
      <%= f.text_field :email%>

      <%= f.label :password %>
      <%= f.password_field :password %><br/>
		
      <%= f.submit "Entra", class: "btn btn-large " %>
  	<% end %>

  </div>
</div>
