<div id="form-gruppo">
	<h3>Nuovo Gruppo</h3>
	</br>
	<%= form_for Group.new do |f| %>
	  <p><%= f.text_field :name, placeholder: "Nome del gruppo..." %></p>
	  <p><%= f.text_area :description, placeholder: "Breve descrizione del gruppo..." %></p>
	
	  <p><%= f.submit "Crea", class: "btn btn-medium btn-primary" %></p>
	<% end %>
</div>
