<% provide(:title, 'Gruppi')%>
<div id="content">
	<div id="indexgruppi">
		<h1> I tuoi gruppi </h1>
		<% if signed_in? %>
			
		    <% if @user.groups.any? %>
		    	<ul id="elenco-gruppi">
			    <%@user.groups.each do |group|%>
				    <li>
				      <h3><%= image_tag ("gruppo.png") %><%= link_to group.name, group %>
				      
				             <% if current_user.id==(group.admin) %>
				             
				             <%= link_to (image_tag ("add.png")) ,search_users_path(group.id)%>
 		    				 <%= link_to (image_tag ("elimina.png")), group, method:  :delete,
		                                     confirm: "Sicuro di voler eliminare "+ group.name,
		                                     title:   group.name %>
		                    <% end %>
		                </h3>    
				    </li>
		    	<% end %>
		    	</ul>
		    <% end %>
		<% end %> 
		 	<p>	<%= render 'groups/new' %></p>
	</div>
</div>
