<%= provide(:title, @group.name) %>
<h1><%= @group.name%></h1>
	<%if group_admin(current_user, @group.id)== 0%>
		<h3>Creato da <%= link_to name(@group.admin).name, name(@group.admin)%></h3>
	<%end%>
	<div id="group_member">
		<div id="inv-lasc">
			<% if  group_admin(current_user, @group.id)!= 0%>
				<%= link_to "Invita CineMates", search_users_path(@group.id), class: "btn btn-large btn-inverse" %>		
			<%else%>
				<%= link_to "Lascia il gruppo", groupship_path(groupship(@group.id, current_user.id).id),:method => :delete,  class: "btn btn-medium btn-inverse" %>	
			<%end%>
		</div>
		<% if @group.groupships.count - 1 > 0%>
			<h2>Altri <%= @group.groupships.count - 1 %> Utenti:</h2>
			<%@users = group_members(@group.id)%>
			<div id="utenti">
				<li>
					<%=render @users%>
				</li>
			</div>
		<%end%>
	</div>
	<div class="container-fluid">
		<section id="form-micropost" >
		    <%= render 'shared/micropost_form' %>
		</section>
	 	<%= render @micropost%>
	</div>
