<% if user != current_user%>
<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
 <br/>
<% if !@group.nil? && invited_user(@group.id, user.id)==0%>
	<% if pending_request(@group.id, user.id)==0%>
			<%= form_for Message.new do |f| %>
			<%= f.hidden_field :sender, :value => current_user.name %>
			<%= f.hidden_field :recipient, :value => user.name %>
			<%= f.hidden_field :subject, :value => "Invito"%>
			<%= f.hidden_field :invite, :value => true%>
			<%= f.hidden_field :group_id, :value => @group.id %><br/>
			<%= f.submit "Invita", class: "btn btn-medium btn-info" %>
			<%end%>
	<%else%>
	<h5 id="attesa">Utente in attesa di conferma</h5>
	<%end%>
<%end%>
</li>
<%end%>
