<% provide(:title, "Modifica utente") %> 
<h1>Aggiorna il profilo</h1>
	<div id="change-image">
      	    <%= gravatar_for @user %>
      	    <%= link_to "Cambia immagine", "http://gravatar.com/emails", class:"btn btn-warning" %>
 	</div>
	<div id="info">
		<%= form_for(@user) do |f| %>
      		<%= render 'shared/error_messages', object: f.object %>
	      	<div id="modifica">
	      		<%= f.submit "Salva modifiche", class: "btn btn-medium btn-primary" %>
			</div>

		  	<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a href="#portfolio">Portfolio</a></li>
					<li><a href="#formazione">Formazione</a></li>
					<li><a href="#competenze">Competenze</a></li>
					<li><a href="#esperienze">Esperienze Lavorative</a></li>
					<li><a href="#interessi">Interessi</a></li>
					<li><a href="#tag">Tag</a></li>
			</ul>
	 		<div class="tab-content">
	 		<div class="tab-pane active" id="portfolio">
					<iframe width="300" height="169" src="http://www.youtube.com/embed/cJOZp2ZftCw" frameborder="0" allowfullscreen></iframe>							
					<p>Video realizzato per il corso di effetti speciali.</p>
			</div>

			<div class="tab-pane" id="formazione">
				<%= f.text_area :training%>
 			</div>
			<div class="tab-pane" id="competenze">
				<%= f.text_area :skill%>
 			</div>
			<div class="tab-pane" id="esperienze">
				<%= f.text_area :work%>
 			</div>
			<div class="tab-pane" id="interessi">
				<%= f.text_area :hobby%>
			</div>
			<div class="tab-pane" id="tag">
				<%= render 'tags/list'%>
				<%= link_to "Modifica tag",   tags_path, class: "btn btn-small btn-warning"%>
			</div>
		</div>
		
		<script>  
		    $('#myTab a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	    })
	    </script>
    <% end %>

	</div>