<% provide(:title, 'Ricerca_utenti')%>
<% if @users.length != 0 %> <!-- se ci sono degli utenti che corrispondono alla ricerca mostrali sennò stampa messagggio-->
	<h1>Trovati <%= pluralize(@users.length, "CineMates") %></h1>

<% else %>
	<h1>Nessun CineMates corrisponde alla tua ricerca</h1>
<% end %>
<span class="ricerca">
	<ul class="users">
		<%= render @users %>
	</ul>

</span>
<%= render 'shared/search_form'%>
