<% provide(:title, 'Ricerca_utenti')%>
<% if @group.nil?%>
	<% if @users.length != 0 %> <!-- se ci sono degli utenti che corrispondono alla ricerca mostrali sennò stampa messagggio-->
		<% if @users.include?(current_user)%>
			<h1>CineMates</h1>
			<%= will_paginate %>
		<%else%>
			<h1>Trovati <%= pluralize(@users.length, "CineMates") %></h1>
			<%= will_paginate %>
		<%end%>
	<% else %>
		<h1>Nessun CineMates corrisponde alla tua ricerca</h1>
	<% end %>
<%else%>
<h1>Aggiungi CineMates al gruppo <%= @group.name%></h1>
<%= will_paginate %>
<% end %>

<%= render 'shared/search_form'%>
<div id="ricerca">
	<ul class="users">
		<%= render @users %>
	</ul>
</div>


