<%= provide(:title, @user.name) %>
			<span class="span1">
				<%= gravatar_for @user %>
			</span>
			<h1 id="user_name"><%= @user.name %></h1>
			
			<% if current_user?(@user)%>
				<h3><%= render 'shared/stats'%></h3>

				<div id="modifica">
					<%= link_to 'Modifica profilo', edit_user_path(@user.id), class: "btn btn-medium btn-primary" %>
				
				</div>
			<%else%>
			<div id="inviamessaggio">
				<% if signed_in? %>
			  	<%= link_to 'Invia messaggio', new_message_path(:user => @user.id), class: "btn btn-medium btn-primary" %>
			  	<%end%>
			</div>
			<% end %>

<div id="profilo">
	<div id="info">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#portfolio">Portfolio</a></li>
			<li><a href="#formazione">Formazione</a></li>
			<li><a href="#competenze">Competenze</a></li>
			<li><a href="#esperienze">Esperienze Lavorative</a></li>
			<li><a href="#interessi">Interessi</a></li>
			<li><a href="#tag">Tag</a></li>
		</ul>
		
	 	<div class="tab-content">
	 		<div class="tab-pane active" id="portfolio">
	 			<iframe width="300" height="169" src="http://www.youtube.com/embed/cJOZp2ZftCw" frameborder="0" allowfullscreen></iframe>
		    		<div id="descrizione-video">Video realizzato per il corso di Effetti Speciali.
					</div>
			</div>
			<div class="tab-pane" id="formazione">
				<h4><%= @user.training %></h4>
			</div>
			<div class="tab-pane" id="competenze">
				<h4><%= @user.skill %></h4>
			</div>
			<div class="tab-pane" id="esperienze">
				<h4><%= @user.work %></h4>
			</div>
			<div class="tab-pane" id="interessi">
				<h4><%= @user.hobby %></h4>
			</div>
			<div class="tab-pane" id="tag">
	   
	            <%= render 'tags/list'%>
		    
			    <div id="modifica_tag">
			    	<% if current_user?(@user)%>
						<h4><%= link_to 'Modifica Tag', tags_path, class: "btn btn-mini btn-warning" %></h4>
						<%end%>
			    
				</div>
			</div>
				
		</div>
	</div>
		<script>  
		    $('#myTab a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	    })
	    </script>
	<br/>
	
	<% if !current_user?(@user)%>
		<% if !group_admin_profile(@user.id).nil?%>
			<div class="well" id="gruppi">
				<h1>Gruppi creati:</h1>
				<% @groups = group_admin_profile(@user.id)%>
				<%= render @groups%>
			</div>
		<%end%>
	<%end%>
	<div id="awards"> 
		<%= image_tag ("awards.png") %>
	</div>
</div>

