<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <!--prende i singoli micropost e me li elenca-->
  <%= will_paginate @feed_items %>
<% end %>