<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "Aggiungi un micropost" %>
    <%= f.hidden_field :group_id, :value => @group.id %>
  <%= f.submit "Post", class: "btn btn-large btn-info" %>
<% end %>