</span>
<span id="formricerca">
	<ul class="search">
		<li id="cercaNome">
			<%= form_tag search_users_path, :method => 'get', :class => 'form-search' do %>
	  			<p>
	    			<%= text_field_tag :search, params[:search], :class => 'input-medium search-query', placeholder:"Ricerca per nome"  %>
	    			<%= submit_tag "Cerca", :name => nil, :class => 'btn' %>
	  			</p>
	  		<% end %>
	  	</li>
	  	
		<li id="cercaTag">
			<%= form_tag search_tag_users_path, :method => 'GET', :class => 'form-item-be form-search’' do %>
	  			<p>
	    			<%= select_tag "name", options_from_collection_for_select(Tag.select(:name).uniq, "name", "name" ), {:prompt => "Ricerca per tag"}%>	
					<%= submit_tag "Cerca", :name => nil, :class => 'btn' %>
	  			</p>
	  		<%end%>
	  	</li>
	  	
		<li id="cercaCategoria">
			<%= form_tag search_category_users_path, :method => 'GET', :class => 'form-item-be form-search’' do%>
	  			<p>
	  				<%= select_tag "category", options_from_collection_for_select(Tag.select(:category).uniq, "category", "category" ), {:prompt => "Ricerca per categoria"}%>	
					<%= submit_tag "Cerca", :name => nil, :class => 'btn' %>
	  			</p>
	  		<%end%>
	  	</li>
	</ul>
</span>