<% @user ||= current_user %>
	<a href="<%= messages_user_path(@user) %>">
		<div id="count-message">
		<%= @user.unread_message_count %> messaggi ricevuti
		</div>
		<div id="messages">
		<%= image_tag ("mail.jpg") %>
		</div>
	</a>
