<h1>Nuovo tag inserito</h1>

 <%@tags.each do |tag|%>
 
  <%tag.usertags.each do |usertag|%>
  
            usertag user: <%= usertag.user_id %>
        	Tag id : <%= usertag.tag_id %>
        
		<%= form_for(@usertag) do |f| %>
        <p><%= f.hidden_field :tag_id, :value => usertag.tag_id  %></p>
        <p><%= f.submit "Aggiungi", class: "btn btn-small btn-primary" %></p>
		<% end %>
    <%end%>
 <% end %>





  create_table "usertags", :force => true do |t|
    t.integer  "user_id"
    t.integer  "tag_id"
    t.datetime "created_at"
    t.datetime "updated_at"
  end
