<% provide(:title, 'Vetrina_lavori')%>
<h1>vetrina lavori</h1><br>
<p>Bevenuto nella vetrina dei lavori prodotti dagli studenti di ICMC!</p>

<div id="vetrina">
	<h2>Ultimi lavori caricati:</h2>
	    <table class="table table-condensed">
			<tr>
				<td class="anteprima"><iframe width="300" height="169" src="http://www.youtube.com/embed/WhzTeedjZT4" frameborder="0" allowfullscreen></iframe></td>
				<td class="creatoda"><i class="icon-film"></i> Di: Francesca Bobba</td>
				<td class="descrizionelavoro">Questo video è stato realizzato per un progetto di video musicali per il corso...</td>
			</tr>
			<tr>
				<td class="anteprima"><iframe src="http://player.vimeo.com/video/39792837" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> </td>
					<td class="creatoda"><i class="icon-facetime-video"></i>Di: Lorenzo Ricca</td>
					<td class="descrizionelavoro">Animazione realizzata in Blender per un concorso di grafica 3D</td>
			</tr>
   		</table>
</div>


