<% if @user.tags.any? %>
	<table>
		<tr id="riga-tab"><td>TAG</td><td>CATEGORIA</td></tr>
	    	<%@user.tags.each do |tag|%>
	    		<tr><td><%= tag.name %></td><td><%= tag.category %></td></tr>
	   	<%end%>
	</table>
<%end%>

	
