
<%= form_for Tag.new do |f| %>
	
	<div id="form-tag">
		<h2>Nuovo Tag</h2>
		<%= render 'shared/error_messages', object: f.object %>
		<br />
			<%= f.text_field :name, placeholder: "Nome del tag..." %>
		</br>
		</br>
	    	<%= f.collection_select :category, Tag::CATEGORIES, :to_s, :to_s, 
	       :include_blank => true, class: "btn btn-group dropup btn dropdown-toggle caret" %>
	      </br>
	   		<%= f.submit "Aggiungi tag", :controller => 'tags', :action => 'create', class: "btn btn-medium btn-warning" %>
			<%= link_to "Indietro", edit_user_path(@user), class: "btn btn-medium btn-primary"%>
	</div>
<% end %>