<% provide(:title, 'Tag')%>
<h1> I tuoi tag </h1>

	<% if @user.tags.any? %>
	<div id="mytag">
	    <%@user.tags.each do |tag|%>
		    <li>
		     <h3> <%= image_tag ("mind.png") %><%= tag.name %>
		   
	    <div id="el"><%= link_to "Elimina", tag, method:  :delete,
	                                     confirm: "Sei sicuro di voler rimuovere " +tag.name+ "dai tuoi tag?",
	                                     title:   tag.name %></div>
	                                     
	        </h3></li> 
	<%end%>
	</div>
<% end %>
<%= render 'tags/new'%>  


