		<div id="span8">
			<ul id="micropost">
				<h3>Microposts (<%= @group.microposts.count %>)</h3> 
			
				    <%if @group.microposts.any?%>
				   	    <%@group.microposts.each do |micropost|%>
				   	    </br>
				    	<li id="list-row"> 
				  			<%= link_to gravatar_for(micropost.user), micropost.user %>
					    	<div id="post">
					    		<%= link_to micropost.user.name, micropost.user %>
					    		<br>
					     		<%= micropost.content %>
					     	</div>
					    	Posted <%= time_ago_in_words(micropost.created_at) %> ago.
					    	<br>
					     	<% if current_user?(micropost.user) %>
					    		<%= link_to "Elimina", micropost, method:  :delete,
					                                   confirm: "Sei sicuto?",
					                                   title:   micropost.content %>
					  		<% end %>
					  	</li>
				    	<%end%>
				    <%end%>
	      	</ul>
	    </div>
