<% provide(:title, 'Gruppi')%>

<h1> I tuoi gruppi </h1>
<% if @group.microposts.any? %>
    <%@group.microposts.each do |tag|%>
    <li>
      <%= microposts.content %>
    </li>

    <p><%= link_to "Elimina", tag, method:  :delete,
                                     confirm: "Sei sicuro di voler rimuovere " +tag.name+ "dai tuoi tag?",
                                     title:   tag.name %>
  	</p>
  	<%end%>
<% end %>
<%= render 'tags/new'%>  
