@import "bootstrap";
@import url(http://www.princexml.com/fonts/larabie/index.css) all;
@media screen and (min-width:481px){

section {
  overflow: auto;
}

body {
  font-family:Teen Light, serif;
  padding-top: 10px; /*distanza dal margine superiore della pagina*/
  align: center;
}

textarea {
  resize: none;
  height:50px;
}

li{
  list-style-type:none; /* non voglio i pallini di default per i link */
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.link {
  font-size: 35px;
  font-family:Teen Light, serif; 
  text-align: center;
  color:black;
}

a:link  {
  text-decoration: none;
  color: #228b22; /*green;*/
  transition: all 1s;
  -moz-transition: all 1s;
  -moz-transition: all 1s;
  -moz-transition: all 1s;
}

a:visited {
  color: black;
}

a:hover {
  color: #FF9900;  /*orange;*/
  /* font-size: 27px; */
  text-decoration: none;
}

.btn, label {
  font-family:Teen Light; 
  font-weight:bold;
  font-size: 25px;
}


.content {
  display:block;
  float:left;
  padding-top:20px;
  padding-bottom:10px;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  border:3px solid #FFFFFF;
  background-color:lightgray;
  width:250px;
  height:120px;
  margin-left:25px;
  margin-top:30px;
}

.timestamp{
  color: $grayLight;
}

aside {
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}

.users {
  list-style: none;
  margin: 10;
  width:650px;
  
  li {
    font-size: 20px;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.search {
  list-style: none;
}

.img_home {
  display: block;
  text-align: center;
}
  
.img_logo {
  margin: auto;
  text-align: center;
}

*{
  margin:0px;
  padding:0px;
}

#navigation ul li a:hover {
  color:orange;
  font-size: 27px; 
}

#navigation ul li a:link  {
  text-decoration: none;
  color:green;
  transition: all 1s;
  -moz-transition: all 1s;
  -moz-transition: all 1s;
  -moz-transition: all 1s;
}

#navigation ul li a:visited {
  color: black;
}
 
#navigation{
  height:45px;
  -moz-border-radius:0px 0px 10px 10px;
  -moz-border-bottom-left-radius:10px;
  -moz-border-bottom-right-radius:10px;
    ul{ 
      list-style-type:none; /* non voglio i pallini di default per i link */
      float:left;
      margin-left:22px; /* margine da sinistra*/
      li{
        float:left; /* stanno affianco */
        position:relative;
        margin:0px 2px;/* per mettere 2 px di margine tra un blocco e l'altro*/
        a{
          display:block;  /* il blocco denro cui sta il link ed è alto 30 px*/
          height:40px; 
          font-size: 35px;
          font-family:Teen Light, serif;
          text-align: center;
          color:black;
          line-height:40px;/* per distanziarlo dall'alto nel padding*/
          padding:0px 50px; /* per distanziare i link*/
        }
      }
    }
}

#info {
  background:light grey;
}

#gruppi{
  background:lightgrey;  
}

#info a {
  color:black;
  font-size:20px;
}

#content{
  margin:5px auto;
  text-align:center;
  width:1100px;
  position:relative;
  height:100%;
}

#wrapper{
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  border:10px solid #fff;
  background-color: #F8F8F8 ;
  width:1100px;
  height:400px;
  display:block;
}

#ricerca {
  float:left;
  overflow: auto;
  height: 275px;
  width:700px;
}

#span8 {
  height: 275px;
  width:600px;
}

.microposts {
  margin: 10px 0 0 0;
  height: 60px;
  width:500px;
  float:left;
  li {
    padding: 5px 0;
    border-top: 1px solid #e8e8e8;
  }
}

#formricerca {
  float:right;
  width:330px;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  padding-top:15px;
  padding-bottom:5px;
  padding-right:10px;
  margin-right:20px;
  border:2px solid white;
  background-color:lightgrey;
}

#profilo{
  height: 300px;
  overflow:auto;
  padding-left:5px;
  list-style: none;
  width:100%;
}

#vetrina {
  height:300px;
  overflow: auto;
}

#unisciti {
  height:300 px;
  overflow: auto;
  margin-top:10%;
}

#messaggi {
  height:90%;
  overflow:auto;
  float:center;
}

#micropost_content {
  height:80px;
}

#modifica {
  margin-right:10px;
  padding-top:50px;
  text-align:right;
}

#inviamessaggio{
  margin-right:10px;
  padding-top:50px;
  text-align:right;
}

#msgnew{
  float:center;
}

#new_message {
  float:center;
  padding-top:10px;
}

#indexgruppi {
  height:100%;
  overflow:auto;
}

#awards {
  width:100%;
  padding-top:30px;
  padding-top:15px;
}

.formMessage { 
  display:inline;
  color:#696969;
}

.formMessage3{
  display:inline;
}

#login{
  padding-top:30px;
  padding-bottom:30px;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  width:500px;
  border:3px solid #FFFFFF;
  background-color:lightgray;
  margin:0 auto;
  margin-top:70px;
}

#user_name{
  float:left;
}

#messages{
  float:right;
  padding-right:10px;
  padding-top:4px;
}

#count-message{
  padding-bottom:4px;
  float:right;
  padding-right:4px;
  padding-top:5px;
  color:red;
}

#mytag{
  height:200px;
  width:270px;
  float:left;
  overflow:auto;
  background-color:white;
  border:2px solid white;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  text-align:left;
  margin-top:45px;
  margin-left:10%;
  padding-top:10px;
  padding-left:15px;
}

#el{
  float:right;
  font-size:12px;
  padding-right:5px;
  padding-top:15px;
}

#form-tag{
  border:2px solid #FFFFFF;
  border-radius:10px;
  background-color:lightgray;
  width:300px;
  height:200px;
  box-shadow:0px 0px 3px #aaa;
  float:right;
  padding-top:20px;
  margin-top:45px;
  margin-right:20%;
}
 
table{
  padding-top:7px;
  border-spacing: 40px;
  border:2px solid white;
  box-shadow:0px 0px 3px #aaa;
  width: 350px; 
  margin:auto;
}

tr{
  border: 2px solid lightgrey;
}

td{
  border: 2px solid lightgrey;
  border-spacing: 10px;
}

.tab-content{
  padding-top:15px;
  background-color:white;
  border:2px solid white;
  box-shadow:0px 0px 3px #aaa;
  width:1000px;
  margin:auto;
  height:200px;
  overflow:auto;
}

#calendar {
  height: 100px;
  width: auto;
}

#group_member{
  float:right;
  width:350px;
  overflow:auto;
    li {
    font-size: 20px;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
  }
}

#utenti{
  height:250px;
  width:300px;
  overflow:auto;
  border:2px;
  border-radius:5px;
}

#inv-lasc{
  float:right;
  margin-right:10px;
}

#riga-tab{
  background-color:#F0F0F0 ;
  font-weight:bold;
}

#elenco-gruppi{
  height:80%;
  width:35%;
  float:left;
  overflow:auto;
  background-color:white;
  border:2px solid white;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  text-align:left;
  margin-top:10px;
  padding-top:7px;
  padding-left:7px;
  padding-right:7px;
}

#form-gruppo{
  margin-top:70px;
  float:right;
  width:350px;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  padding-top:15px;
  padding-bottom:5px;
  padding-right:10px;
  margin-right:20px;
  border:2px solid white;
  background-color:lightgrey;
}

#calendar{
  float:right;
  border:2px solid lightgrey;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
}

#micropost{
  float:left;
  width:100%;
  overflow:auto;
  height:70%;
  margin-bottom:20px;
}

#lascia-gruppo{
  float:right;
  width:30%
}

#container{
  float:left;
  width:50%;
  height:70%;
}

#form-micropost{
  float:left;
  margin-left:25px;
}

#list-row{
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  border:2px solid lightblue;
  background-color:white;
  height:27%;
  overflow:auto;
}

#post{
  float:left;
}

#timestamp{
  float:right;
}

#change-image{
  float:left;
}

#form-messaggio{
  border:3px solid #FFFFFF;
  border-radius:10px;
  background-color:lightgray;
  width:400px;
  height:250px;
  box-shadow:0px 0px 3px #aaa;
  margin:0 auto;
  padding-top:30px;
  margin-top:30px;
}

.flash{
  color:red;
  font-size:20px;
}

#attesa{
  color:red;
  margin-top:10px;
  text-align:center;
}

#rispondi{
  padding-top:20px;
  padding-bottom:10px;
  box-shadow:0px 0px 3px #aaa;
  border-radius:10px;
  border:3px solid #FFFFFF;
  background-color:lightgray;
  width:250px;
  height:170px;
  margin-left:25px;
  margin-top:30px;
  overflow:auto;
}
}