@import "bootstrap";
@media screen and (max-width:480px){
  
  html {
    overflow-y: scroll;
    font-family:Teen Light, serif;
  }
  
  h1, h2, h3, h4, h5, p, ul, li {
    font-family:Teen Light, serif;
  }
  
  body {
    align: center;
  }
  
  li{
    list-style-type:none; /* non voglio i pallini di default per i link */
  }
  
  textarea {
    resize: vertical;
    height:50px;  
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .link {
    font-size: 25px;
    font-family:Teen Light, serif; 
    text-align: center;
    color:black;
  }
  
  a:link  {
    text-decoration: none;
    color: #228b22; /*green;*/
    transition: all 1s;
    -moz-transition: all 1s;
    -moz-transition: all 1s;
    -moz-transition: all 1s;
  }  
  
  a:visited {
    color: black;
  }  
  
  .btn, label {
    font-family:Teen Light, serif; 
    font-weight:bold;
    font-size: 15px;
  }
  
  .microposts {
    list-style: none;
    margin: 10px 0 0 0;
    height: 50px;
    float:right;
  
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
  }
  
  .content {
    display:block;
  }
  
  .timestamp{
    color: $grayLight;
  }
  
  aside {
    textarea{
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  .users {
    list-style: none;
    margin: 10;
    width:100%;
    li {
      font-size: 20px;
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
        border-bottom: 1px solid $grayLighter;
      }
    }
  }
  
  .search {
    list-style: none;
  }
  
  .img_home {
    display: block;
    text-align: center;
    width:100%;
    height:80%;
  }
    
  .img_logo {
   width:0px;
   height:0px;
  }  
  
  *{
    margin:0px;
    padding:0px;
  }
  
  #navigation ul li a:link  {
    text-decoration: none;
    color:green;
    transition: all 1s;
    -moz-transition: all 1s;
    -moz-transition: all 1s;
    -moz-transition: all 1s;
  }
  
  #navigation ul li a:visited {
    color: black;
  }
  
  #navigation{
    height:45px;
    -moz-border-radius:0px 0px 10px 10px;
    -moz-border-bottom-left-radius:10px;
    -moz-border-bottom-right-radius:10px;
  }
  
  #navigation ul{ 
    list-style:none; /* non voglio i pallini di default per i link */
    float:left;
    margin-left:22px; /* margine da sinistra*/
  }
  
  #navigation ul li{
    float:left; /* stanno affianco */
    /* border-right:1px solid #ccc;
    border-left:1px solid #ccc; per mettere i bordi ai link*/ 
    position:relative;
    margin:0px 2px;/* per mettere 2 px di margine tra un blocco e l'altro*/
  }
  
  #navigation ul li a{
    display:block;  /* il blocco denro cui sta il link ed è alto 30 px*/
    height:40px;   
    font-size: 35px;
    font-family:Teen Light, serif;
    text-align: center;
    color:black;
    line-height:40px;/* per distanziarlo dall'alto nel padding*/
    padding:0px 50px; /* per distanziare i link*/
  }
  
  #info {
    background:light grey;
  }
  
  #gruppi{
    background:grey;  
  }
  
  #info a {
    color:black;
    font-size:20px;
  }
  
  #content{
    margin:5px auto;
    text-align:center;
    width:100%;
    position:relative;
  }
  
  #wrapper{
    box-shadow:0px 0px 3px #aaa;
    border-radius:10px;
    border:10px solid #fff;
    background-color: #F8F8F8 ;
    width:100%;
    display:block;
    text-align:center;
  }  
 
  #profilo{
    list-style: none;
  }
  
  .navbar {
    height:30%;
  }
  
  #modifica {
    float:right;
  }
  
  #awards {
    width:100%;
  }
  
  #vetrina {
    max-width:100%;
  }
  
  .anteprima {
    max-width:50%;
  }
  
  .descrizionelavoro {
    width:0px;
    height:0px;
    visibility:hidden;
  }
  
}