<div id="unisciti">
<%  if invited_user(@group.id, @user.id)==0%>	  
 	<h2>Complimenti! Sei stato invitato a partecipare al gruppo <%= @group.name%></h2>
 	</br>
 	<h3><%=@group.description%></h3>
	      <%= form_for(@groupship) do |f| %>
			<%= f.hidden_field :group_id, :value => @group.id  %>
		</br>

			<%= f.submit "Accetta l'invito", class: "btn btn-large btn-success" %>
	<% end %>

			<%= link_to "Rifiuta", messages_user_path(@user), class: "btn btn-large btn-danger"%>
<%else%>
<h2 id="txt">Appartieni già a <%= link_to @group.name, @group %></h2>
<% end %>
</div>
