<footer class="footer">
  <nav>
  	 <div id="content">
  	<div id= "navigation">
  		<ul>
           <%if signed_in?%>
             <li><%= link_to "Gruppi",   groups_path %></li>
             <li><%= link_to "Vetrina",   vetrina_lavori_path %></li>
			 <li><%= link_to "Utenti",   search_users_path %></li>
             <li><%= link_to "Profilo",   current_user %></li>
        	 <li><%= link_to "Esci",   signout_path, method: "delete" %>
	       
			<%else%>
	      
			<li><%= link_to "Home",   home_path %></li>
            <li><%= link_to "Chi siamo",   about_path %></li>
            <li><%= link_to "Utenti",   search_users_path %></li>
            <li><%= link_to "Vetrina",   vetrina_lavori_path %></li>
            <li><%= link_to "Entra",   signin_path %></li>
			<%end%>
       </ul>        
    </div>      
	</div>
	</nav>
</footer>
