<header class="navbar">
	<!--<div class="navbar-inner">-->
		<div class="container-fluid">
			<nav>
				<div class="img_logo">
					<%= image_tag ("LOGO.png") %>
				</div>
			</nav>
		</div>
	<!--</div>-->
</header>