<!DOCTYPE html>
<html>
<head>
   <title><%= titolo_intero(yield(:title)) %></title>
   
 	 <%= stylesheet_link_tag "application", :media =>"screen and (min-width:481px)" %>
 	 <%= stylesheet_link_tag "application", :media =>"screen and (max-width:480px)" %>
 	 
 	 <%= javascript_include_tag 'jquery', 'rails', 'application' %>

	 <%= csrf_meta_tags %>
</head>
<body>
	    <%= render 'layouts/header' %> 
		<%= render 'layouts/body' %>
	  	<%= render 'layouts/footer' %>
	  	
        <%= debug(params) if Rails.env.development? %> 
	  	
</body>
</html>
